

header {
    
    
  
    position: relative;
    

   
   
 
} 
nav {
      background-color: white;
        line-height:41px;
	padding: 5px;
	text-align:center;
	color:	#f26165;
	font-weight: bold;
	float: left;
	position: relative;
        width: 181.5px;
        alignment-adjust: central;
        margin-top: 0px;
        
       
}


nav:hover{
    color: palevioletred;
}
nav ul {
	display:none;
	list-style:none;
	margin:0;
	padding:0;

	
}
body{
	background-color: white;
}
.back1{
    background-color:white;
    text-align:center;
   
   
    height: 580px;
    width: 1340px;
    
     
}

.pic1{
    z-index: 0;
    
}
.div1{
    text-align:center;
    
  
    float:right;
    background-color:white;
    height: 500px;
   
    position: absolute;
}


       
table ,th , td{
         border-style: solid ;
         border-color:darkgrey; 
         padding: 15px;
         margin: auto;
        } 
      
        main{
        
            margin-left: 300px;
            color :#CD5C5C;
        }
ul, li{
	 margin-left: 30px;
}
   
h2 {
	 color :#35576b;
}

h3 {
	margin-left: 60px;
	 color :#35576b;
}
.button {
  background-color:#35576b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 2px 2px;
  margin-left: 180px;
  cursor: pointer;
}

div{
    margin-left: 90px;
    margin-top: 20px;
}

.menu{
	float:left; width:190px; margin:0px;
}
 	
          a {
    color: #f26165;
}